<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Destinos</h1>

    </div>

    <div class="row pt-3">
        <div class="col-md-4 ">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/Teqila-Jalisco.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tequila, Jalisco</h5>
                    <p class="card-text">Tequila es una región de Jalisco declarado por la UNESCO como Patrimonio de la Humanidad. En la región se destila una de
                    la bebida más representativas del país, el tequila.
                    </p>
                    <a href="#" class="btn btn-primary">ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/San-Miguel-de-Allende-Guanajuato.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">San Miguel de Allende, Guanajuato</h5>
                    <p class="card-text">El turismo en está ciudad dejó en el último año una derrama económica de 83,813 millones de pesos. En 2008 fue declarado
                    como Patrimonio de la Humanidad por la UNESCO.
                    </p>
                    <a href="#" class="btn btn-primary">ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/Xilitla-San-Luis-Potosi.jpg" class="card-img-top"
                alt="...">
                <div class="card-body">
                    <h5 class="card-title">Xilitla, San Luis Potosí</h5>
                    <p class="card-text">Un lugar cafetero que ofrece un pasaje de algas cascadas con grandes montañas donde se puede admirar una vegetación como
                    en pocos lugares en México.
                    </p>
                    <a href="#" class="btn btn-primary">ver más</a>
                </div>
            </div>
        </div>

    </div>


    <div class="row pt-3">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/Playas-baratas-en-Mexico-Puerto-Escondido.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Puerto Escondido, Oaxaca</h5>
                    <p class="card-text">Para playas baratas en México está Puerto Escondido, donde puedes practicar snorkel y nadar entre los peces.
                    </p>
                    <a href="#" class="btn btn-primary">ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/Playas-baratas-en-Mexico-Mahahual.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mahahual, Quintana Roo</h5>
                    <p class="card-text">Una postal clásica de Mahahual: su muelle y el mar turquesa.
                    </p>
                    <a href="#" class="btn btn-primary">ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/Playas-baratas-en-Mexico-Balandra.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Playa Balandra, Baja California</h5>
                    <p class="card-text">El color del mar en Balandra es realmente espectacular.
                    </p>
                    <a href="#" class="btn btn-primary">ver más</a>
                </div>
            </div>
        </div>

    </div>


</main>